
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
miniblink-*/*
install/*
Dll1/*
MBwithE/*
VC6/*
支持库*/*
易语言源码/lib/*
易语言源码/static_lib/*
miniblink*.dll
cookie*.dat
*localstorage
*.dat
精易web*.zip
/*.e
